.content{
  position: relative;
  background-image: url("../images/2_1_main_image.png");
  height: 100vh;
  background-size: cover;

  &-wrap{

    &-title{
      color: #fff;
      position: absolute;
      top: 25%;
      left: 50%;
      font-size: 36px;
      text-align: center;
      margin-left: -140px;

      &-text{
        color: #fff;
        text-align: center;
        width: 540px;
        height: 458px;
        font-size: 18px;
        top: 40%;
        left: 50%;
        position: absolute;
        margin-left: -275px;
        line-height: 1.6;
      }

    }

  }

}